In [1]:
import pandas as pd
from datetime import timedelta

In [2]:
# Import dataset using pyarrow
data = pd.read_csv("data.csv", engine="pyarrow", parse_dates=['tpep_dropoff_datetime', 'tpep_pickup_datetime'], date_format = '%Y-%m-%d-%H-%M-%S')
data["tpep_dropoff_datetime"] = pd.to_datetime(data["tpep_dropoff_datetime"], format="%Y-%m-%d %H:%M:%S")
data["tpep_pickup_datetime"] = pd.to_datetime(data["tpep_pickup_datetime"], format="%Y-%m-%d %H:%M:%S")

## Dataset Overview

In [3]:
data.shape

(6405008, 18)

In [4]:
data.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [5]:
data.dtypes

VendorID                        float64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                    float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [6]:
data.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,6.339567e+06,6405008,6405008,6.339567e+06,6.405008e+06,6.339567e+06,6.405008e+06,6.405008e+06,6.339567e+06,6.405008e+06,6.405008e+06,6.405008e+06,6.405008e+06,6.405008e+06,6.405008e+06,6.405008e+06,6.405008e+06
mean,1.669624e+00,2020-01-17 03:05:16.413242880,2020-01-17 03:21:13.417915904,1.515333e+00,2.929644e+00,1.059908e+00,1.647323e+02,1.626627e+02,1.270298e+00,1.269411e+01,1.115456e+00,4.923182e-01,2.189342e+00,3.488395e-01,2.979870e-01,1.866315e+01,2.275662e+00
min,1.000000e+00,2003-01-01 00:07:17,2003-01-01 14:16:59,0.000000e+00,-3.062000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.238000e+03,-2.700000e+01,-5.000000e-01,-9.100000e+01,-3.574000e+01,-3.000000e-01,-1.242300e+03,-2.500000e+00
25%,1.000000e+00,2020-01-09 17:10:53,2020-01-09 17:27:34.750000128,1.000000e+00,9.600000e-01,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.116000e+01,2.500000e+00
50%,2.000000e+00,2020-01-16 23:16:29,2020-01-16 23:32:24,1.000000e+00,1.600000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,1.950000e+00,0.000000e+00,3.000000e-01,1.430000e+01,2.500000e+00
75%,2.000000e+00,2020-01-24 18:24:30,2020-01-24 18:39:51,2.000000e+00,2.930000e+00,1.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,2.860000e+00,0.000000e+00,3.000000e-01,1.980000e+01,2.500000e+00
max,2.000000e+00,2021-01-02 01:12:10,2021-01-02 01:25:01,9.000000e+00,2.102401e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,4.265000e+03,1.130100e+02,3.080000e+01,1.100000e+03,9.105000e+02,3.000000e-01,4.268300e+03,2.750000e+00
std,4.703484e-01,NaN,NaN,1.151594e+00,8.315911e+01,8.118432e-01,6.554374e+01,6.991261e+01,4.739985e-01,1.212730e+01,1.260054e+00,7.374184e-02,2.760028e+00,1.766978e+00,3.385937e-02,1.475736e+01,7.352646e-01

There are negative values for fare_amount, tip_amount, extra, mta_tax,trip_distance, improvement_surcharge, total_amount, congestion_surcharge so we will delete them

In [7]:
data = data.loc[
    (data['fare_amount'] >= 0) &
    (data['tip_amount'] >= 0) &
    (data['extra'] >= 0) &
    (data['mta_tax'] >= 0) &
    (data['trip_distance'] >= 0) &
    (data['improvement_surcharge'] >= 0) &
    (data['total_amount'] >= 0) &
    (data['congestion_surcharge'] >= 0)
]
data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.00,3.00,0.5,1.47,0.00,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.00,3.00,0.5,1.50,0.00,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.00,3.00,0.5,1.00,0.00,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.50,0.50,0.5,1.36,0.00,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.50,0.50,0.5,0.00,0.00,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,NaN,2020-01-31 22:51:00,2020-01-31 23:22:00,NaN,3.24,NaN,None,237,234,NaN,17.59,2.75,0.5,0.00,0.00,0.3,21.14,0.0
6405004,NaN,2020-01-31 22:10:00,2020-01-31 23:26:00,NaN,22.13,NaN,None,259,45,NaN,46.67,2.75,0.5,0.00,12.24,0.3,62.46,0.0
6405005,NaN,2020-01-31 22:50:07,2020-01-31 23:17:57,NaN,10.51,NaN,None,137,169,NaN,48.85,2.75,0.0,0.00,0.00,0.3,51.90,0.0
6405006,NaN,2020-01-31 22:25:53,2020-01-31 22:48:32,NaN,5.49,NaN,None,50,42,NaN,27.17,2.75,0.0,0.00,0.00,0.3,30.22,0.0
6405007,NaN,2020-01-31 22:44:00,2020-01-31 23:06:00,NaN,11.60,NaN,None,179,205,NaN,54.56,2.75,0.5,0.00,0.00,0.3,58.11,0.0

In [8]:
data.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
count,6.320109e+06,6383157,6383157,6.320109e+06,6.383157e+06,6.320109e+06,6.383157e+06,6.383157e+06,6.320109e+06,6.383157e+06,6.383157e+06,6.383157e+06,6.383157e+06,6.383157e+06,6.383157e+06,6.383157e+06,6.383157e+06
mean,1.668608e+00,2020-01-17 03:10:11.758383872,2020-01-17 03:26:09.420379392,1.515526e+00,2.937676e+00,1.059564e+00,1.647538e+02,1.626808e+02,1.264153e+00,1.276354e+01,1.119325e+00,4.953033e-01,2.196791e+00,3.497999e-01,2.998092e-01,1.876093e+01,2.289493e+00
min,1.000000e+00,2003-01-01 00:07:17,2003-01-01 14:16:59,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000e+00,2020-01-09 17:15:04,2020-01-09 17:31:55,1.000000e+00,9.700000e-01,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,1.116000e+01,2.500000e+00
50%,2.000000e+00,2020-01-16 23:22:48,2020-01-16 23:38:27,1.000000e+00,1.600000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,1.950000e+00,0.000000e+00,3.000000e-01,1.430000e+01,2.500000e+00
75%,2.000000e+00,2020-01-24 18:26:31,2020-01-24 18:42:04,2.000000e+00,2.930000e+00,1.000000e+00,2.340000e+02,2.340000e+02,2.000000e+00,1.400000e+01,2.500000e+00,5.000000e-01,2.860000e+00,0.000000e+00,3.000000e-01,1.980000e+01,2.500000e+00
max,2.000000e+00,2021-01-02 01:12:10,2021-01-02 01:25:01,9.000000e+00,2.102401e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,4.265000e+03,1.130100e+02,3.300000e+00,1.100000e+03,9.105000e+02,3.000000e-01,4.268300e+03,2.750000e+00
std,4.707138e-01,NaN,NaN,1.152066e+00,8.330066e+01,8.113718e-01,6.553610e+01,6.990666e+01,4.596647e-01,1.200692e+01,1.258551e+00,4.842018e-02,2.761213e+00,1.767707e+00,7.562666e-03,1.460859e+01,6.942250e-01

### Treating store_and_fwd_flag

In [9]:
data["store_and_fwd_flag"].unique()

array(['N', 'Y', None], dtype=object)

In [10]:
data_one = pd.get_dummies(data["store_and_fwd_flag"])
data_one

             N      Y
0         True  False
1         True  False
2         True  False
3         True  False
4         True  False
...        ...    ...
6405003  False  False
6405004  False  False
6405005  False  False
6405006  False  False
6405007  False  False

[6383157 rows x 2 columns]

In [11]:
df_two = pd.concat((data_one, data), axis=1)
df_two = df_two.drop(["store_and_fwd_flag"], axis=1)
df_two = df_two.drop(["N"], axis=1)
data = df_two.rename(columns={"Y": "store_and_fwd_flag"})
data.head()

,store_and_fwd_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,False,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,False,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,False,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,False,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,False,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

In [12]:
data.dtypes

store_and_fwd_flag                 bool
VendorID                        float64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
payment_type                    float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

## Exercises

1. Extract all trips with trip_distance larger than 50.

In [13]:
trips = data[data['trip_distance']>50]
trips.head()

,store_and_fwd_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
23842,False,2.0,2020-01-01 01:53:07,2020-01-01 03:54:41,1.0,52.30,5.0,262,265,1.0,300.0,0.0,0.0,61.78,6.12,0.3,370.70,2.5
39013,False,2.0,2020-01-01 02:05:07,2020-01-01 03:03:10,1.0,51.23,5.0,264,264,1.0,329.0,0.0,0.5,100.78,6.12,0.3,436.70,0.0
41620,False,1.0,2020-01-01 03:05:54,2020-01-01 04:16:26,1.0,53.80,5.0,132,265,1.0,250.0,0.0,0.0,53.35,16.62,0.3,320.27,0.0
58262,False,2.0,2020-01-01 05:36:12,2020-01-01 06:40:06,1.0,55.23,5.0,132,265,2.0,170.0,0.0,0.5,0.00,18.26,0.3,189.06,0.0
63024,False,2.0,2020-01-01 07:40:30,2020-01-01 08:40:01,1.0,54.19,5.0,132,265,1.0,230.0,0.0,0.0,0.00,12.24,0.3,242.54,0.0

2. Extract all trips where payment_type is missing.

In [14]:
trips_nopayment = data[data['payment_type'].isnull()]
trips_nopayment.head()

,store_and_fwd_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
6339567,False,NaN,2020-01-01 08:51:00,2020-01-01 09:19:00,NaN,13.69,NaN,136,232,NaN,51.05,2.75,0.5,0.0,0.0,0.3,54.60,0.0
6339568,False,NaN,2020-01-01 08:38:43,2020-01-01 08:51:08,NaN,3.42,NaN,121,9,NaN,27.06,2.75,0.0,0.0,0.0,0.3,30.11,0.0
6339569,False,NaN,2020-01-01 08:27:00,2020-01-01 08:32:00,NaN,2.20,NaN,197,216,NaN,24.36,2.75,0.5,0.0,0.0,0.3,27.91,0.0
6339570,False,NaN,2020-01-01 08:46:00,2020-01-01 08:57:00,NaN,0.84,NaN,262,236,NaN,26.08,2.75,0.5,0.0,0.0,0.3,29.63,0.0
6339571,False,NaN,2020-01-01 08:21:00,2020-01-01 08:38:00,NaN,7.24,NaN,45,142,NaN,25.28,2.75,0.5,0.0,0.0,0.3,28.83,0.0

3. For each (PULocationID, DOLocationID) pair, determine the number of trips.

In [15]:
trip_counts = data.groupby(['PULocationID', 'DOLocationID'], as_index=False).size().rename(columns={'size':'trip_count'})
trip_counts.head()

   PULocationID  DOLocationID  trip_count
0             1             1         632
1             1            50           1
2             1            68           1
3             1           138           2
4             1           140           1

4. Save all rows with missing VendorID, passenger_count, store_and_fwd_flag, or payment_type in a new dataframe called bad, and remove those rows from the original dataframe.

In [16]:
bad = data[data[['VendorID', 'passenger_count', 'store_and_fwd_flag', 'payment_type']].isnull().any(axis=1)]
data.drop(index=bad.index, inplace=True)
data.head()

,store_and_fwd_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,False,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,False,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,False,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,False,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,False,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

5. Add a duration column storing how long each trip has taken (use tpep_pickup_datetime, tpep_dropoff_datetime).

In [17]:
data['duration']= data['tpep_dropoff_datetime'] - data['tpep_pickup_datetime']
data.head()

,store_and_fwd_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration
0,False,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48
1,False,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25
2,False,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11
3,False,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51
4,False,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18

6. For each pickup location, determine how many trips have started there.

In [18]:
trips_for_locations = data.groupby('PULocationID', as_index=False).size().rename(columns={'size':'trip_count'})
trips_for_locations.head()

   PULocationID  trip_count
0             1         747
1             2           3
2             3          70
3             4        9860
4             5          39

7. Cluster the pickup time of the day into 30-minute intervals (e.g., from 02:00 to 02:30).

In [19]:
data['pickup_datetime30m'] = data['tpep_pickup_datetime'].dt.floor('30T').dt.time
data.head()

/var/folders/7y/h7b4hxf568n1y6xlpl8vf6340000gn/T/ipykernel_14075/1279896461.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  data['pickup_datetime30m'] = data['tpep_pickup_datetime'].dt.floor('30T').dt.time

,store_and_fwd_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_datetime30m
0,False,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48,00:00:00
1,False,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25,00:30:00
2,False,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11,00:30:00
3,False,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51,00:30:00
4,False,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18,00:00:00

8 .For each interval, determine the average number of passengers and the average fare amount.

In [19]:
avg_passengers = data.groupby('pickup_datetime30m')[["passenger_count", "fare_amount"]].mean()
avg_passengers.head()

                    passenger_count  fare_amount
pickup_datetime30m
00:00:00                   1.572968    13.542845
00:30:00                   1.584558    13.230228
01:00:00                   1.579209    12.735356
01:30:00                   1.589223    12.298866
02:00:00                   1.587774    12.106261

9. For each payment type and each interval, determine the average fare amount.

In [20]:
avg_fare = data.groupby(['payment_type','pickup_datetime30m'])["fare_amount"].mean().reset_index().rename(columns={'fare_amount': 'avg_fare_amount'})
avg_fare.head()

   payment_type pickup_datetime30m  avg_fare_amount
0           1.0           00:00:00        13.869142
1           1.0           00:30:00        13.472521
2           1.0           01:00:00        12.824603
3           1.0           01:30:00        12.357974
4           1.0           02:00:00        12.008589

10. For each payment type, determine the interval when the average fare amount is maximum.

In [21]:
max_fare = avg_fare.loc[avg_fare.groupby('payment_type')['avg_fare_amount'].idxmax()]
max_fare

     payment_type pickup_datetime30m  avg_fare_amount
10            1.0           05:00:00        21.256949
58            2.0           05:00:00        14.977089
105           3.0           04:30:00        16.555657
154           4.0           05:00:00        24.230667
192           5.0           17:30:00         0.000000

11. For each payment type, determine the interval when the overall ratio between the tip and the fare amounts is maximum.

In [28]:
sum_fare_tip = data.groupby(['payment_type','pickup_datetime30m'])[["fare_amount","tip_amount"]].sum().reset_index().rename(columns={'fare_amount': 'sum_fare_amount','tip_amount':'sum_tip_amount' })
sum_fare_tip['tip_fare_ratio'] = sum_fare_tip['sum_tip_amount']/sum_fare_tip['sum_fare_amount']
sum_fare_tip
sum_fare_tip = sum_fare_tip.dropna(subset=['tip_fare_ratio'])
max_ratio = sum_fare_tip.loc[sum_fare_tip.groupby('payment_type')['tip_fare_ratio'].idxmax()]
max_ratio

,payment_type,pickup_datetime30m,sum_fare_amount,sum_tip_amount,tip_fare_ratio
37,1.0,18:30:00,1998339.28,485539.83,0.242972
68,2.0,10:00:00,454658.57,22.88,0.000050
138,3.0,21:00:00,7623.82,41.65,0.005463
164,4.0,10:00:00,2088.02,3.95,0.001892

12. Find the location with the highest average fare amount.

In [30]:
avg_fare_by_location = data.groupby('PULocationID')['fare_amount'].mean().reset_index().rename(columns={'fare_amount': 'avg_fare_amount'})
max_loc_fare = avg_fare_by_location.iloc[avg_fare_by_location['avg_fare_amount'].idxmax()]
max_loc_fare

PULocationID       204.0
avg_fare_amount    107.0
Name: 198, dtype: float64

13. Build a new dataframe (called common) where, for each pickup location, 
we keep all trips to the 5 most common destinations (i.e., each pickup 
location can have different common destinations).

In [34]:
trip_counts = data.groupby(['PULocationID', 'DOLocationID']).size().reset_index(name='trip_count')
trip_counts_sorted = trip_counts.sort_values(['PULocationID', 'trip_count'], ascending=[True, False])
top_5 = trip_counts_sorted.groupby('PULocationID').head(5)
common = data.merge(top_5[['PULocationID', 'DOLocationID']], on=['PULocationID', 'DOLocationID'])
common.head()

,store_and_fwd_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_datetime30m
0,False,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48,00:00:00
1,False,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25,00:30:00
2,False,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11,00:30:00
3,False,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51,00:30:00
4,False,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18,00:00:00

14. On the common dataframe, for each payment type and each interval, determine the average fare amount.

In [35]:
avg_fare_common = common.groupby(['payment_type','pickup_datetime30m'])['fare_amount'].mean().reset_index().rename(columns={'fare_amount': 'avg_fare_amount'})
avg_fare_common.head()

   payment_type pickup_datetime30m  avg_fare_amount
0           1.0           00:00:00         8.575154
1           1.0           00:30:00         8.658038
2           1.0           01:00:00         8.487643
3           1.0           01:30:00         7.963896
4           1.0           02:00:00         7.946264

15. Compute the difference of the average fare amount computed in the previous point with those computed in point 9.

In [36]:
merged_df = pd.merge(avg_fare_common, avg_fare, on=['payment_type', 'pickup_datetime30m'], suffixes=('_common', '_tot'))
merged_df['diff'] = merged_df['avg_fare_amount_common'] - merged_df['avg_fare_amount_tot']
merged_df

,payment_type,pickup_datetime30m,avg_fare_amount_common,avg_fare_amount_tot,diff
0,1.0,00:00:00,8.575154,13.869142,-5.293988
1,1.0,00:30:00,8.658038,13.472521,-4.814483
2,1.0,01:00:00,8.487643,12.824603,-4.336960
3,1.0,01:30:00,7.963896,12.357974,-4.394078
4,1.0,02:00:00,7.946264,12.008589,-4.062324
...,...,...,...,...,...
188,4.0,22:00:00,9.200235,13.521681,-4.321446
189,4.0,22:30:00,11.439322,15.444021,-4.004699
190,4.0,23:00:00,7.075758,13.995263,-6.919506
191,4.0,23:30:00,8.516727,14.499497,-5.982770
192,5.0,17:30:00,0.000000,0.000000,0.000000

16. Compute the ratio between the differences computed in the previous point and those computed in point 9.
Note: you have to compute a ratio for each pair (payment type, interval).

In [37]:
merged_df['ratio'] = merged_df['diff'] / merged_df['avg_fare_amount_tot']
merged_df

,payment_type,pickup_datetime30m,avg_fare_amount_common,avg_fare_amount_tot,diff,ratio
0,1.0,00:00:00,8.575154,13.869142,-5.293988,-0.381710
1,1.0,00:30:00,8.658038,13.472521,-4.814483,-0.357356
2,1.0,01:00:00,8.487643,12.824603,-4.336960,-0.338175
3,1.0,01:30:00,7.963896,12.357974,-4.394078,-0.355566
4,1.0,02:00:00,7.946264,12.008589,-4.062324,-0.338285
...,...,...,...,...,...,...
188,4.0,22:00:00,9.200235,13.521681,-4.321446,-0.319594
189,4.0,22:30:00,11.439322,15.444021,-4.004699,-0.259304
190,4.0,23:00:00,7.075758,13.995263,-6.919506,-0.494418
191,4.0,23:30:00,8.516727,14.499497,-5.982770,-0.412619
192,5.0,17:30:00,0.000000,0.000000,0.000000,NaN

17. Build chains of trips. Two trips are consecutive in a chain if:
- (a) they have the same VendorID,
- (b) the pickup location of the second trip is also the dropoff location of the first trip,
- (c) the pickup time of the second trip is after the dropoff time of the first trip, and
- (d) the pickup time of the second trip is at most 2 minutes later than the dropoff time of the first trip.

Hint: Add a column chain to the dataset. A chain can have more than two trips.

In [42]:
df = data.sort_values(by=['VendorID', 'tpep_dropoff_datetime', 'tpep_pickup_datetime']).reset_index(drop=True)
df['chain'] = None
chain_counter = 1

last_trip = {}

for idx, row in df.iterrows():
    vendor = row['VendorID']
    pickup_loc = row['PULocationID']
    dropoff_loc = row['DOLocationID']
    pickup_time = row['tpep_pickup_datetime']
    dropoff_time = row['tpep_dropoff_datetime']

    key = (vendor, pickup_loc)

    if key in last_trip:
        last_dropoff_time, current_chain = last_trip[key]
        if pickup_time > last_dropoff_time and (pickup_time - last_dropoff_time) <= timedelta(minutes=2):
            df.at[idx, 'chain'] = current_chain
            del last_trip[key]
            last_trip[(vendor, dropoff_loc)] = (dropoff_time, current_chain)
            continue

    df.at[idx, 'chain'] = chain_counter
    last_trip[(vendor, dropoff_loc)] = (dropoff_time, chain_counter)
    chain_counter += 1


df

,store_and_fwd_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_datetime30m,chain
0,False,1.0,2020-01-01 00:01:40,2020-01-01 00:01:52,1.0,0.00,2.0,79,79,1.0,...,2.5,0.5,12.25,6.12,0.3,73.67,2.5,0 days 00:00:12,00:00:00,1
1,False,1.0,2020-01-01 00:00:50,2020-01-01 00:02:32,2.0,0.30,1.0,158,158,2.0,...,3.0,0.5,0.00,0.00,0.3,7.30,2.5,0 days 00:01:42,00:00:00,2
2,False,1.0,2020-01-01 00:00:07,2020-01-01 00:03:26,3.0,0.60,1.0,75,75,2.0,...,0.5,0.5,0.00,0.00,0.3,5.80,0.0,0 days 00:03:19,00:00:00,3
3,False,1.0,2020-01-01 00:01:55,2020-01-01 00:04:34,2.0,1.00,1.0,141,140,1.0,...,3.0,0.5,1.75,0.00,0.3,10.55,2.5,0 days 00:02:39,00:00:00,4
4,False,1.0,2020-01-01 00:01:01,2020-01-01 00:04:46,1.0,0.50,1.0,236,236,2.0,...,3.0,0.5,0.00,0.00,0.3,8.30,2.5,0 days 00:03:45,00:00:00,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6320104,False,2.0,2020-07-10 11:34:11,2020-07-10 11:42:41,1.0,1.07,1.0,236,262,1.0,...,1.0,0.5,2.26,0.00,0.3,13.56,2.5,0 days 00:08:30,11:30:00,6243126
6320105,False,2.0,2020-07-31 18:50:41,2020-07-31 18:54:12,1.0,0.72,1.0,236,43,2.0,...,1.0,0.5,0.00,0.00,0.3,9.30,2.5,0 days 00:03:31,18:30:00,6243127
6320106,False,2.0,2021-01-02 00:22:00,2021-01-02 00:36:50,1.0,1.56,1.0,142,161,2.0,...,1.0,0.5,0.00,0.00,0.3,14.80,2.5,0 days 00:14:50,00:00:00,6243128
6320107,False,2.0,2021-01-02 00:44:08,2021-01-02 00:58:56,1.0,2.32,1.0,170,148,2.0,...,1.0,0.5,0.00,0.00,0.3,15.80,2.5,0 days 00:14:48,00:30:00,6243129
6320108,False,2.0,2021-01-02 01:12:10,2021-01-02 01:25:01,1.0,1.87,1.0,90,148,1.0,...,1.0,0.5,2.86,0.00,0.3,17.16,2.5,0 days 00:12:51,01:00:00,6243130

In [43]:
# Check chainid
chain_counts = df['chain'].value_counts()
chain_counts = chain_counts[chain_counts > 1]
chain_counts.head()

chain
893370     12
1078956    11
627206     10
905150      8
540984      8
Name: count, dtype: int64

In [58]:
# Check same chainid rows
chain_id_to_view = 893370
rows_with_chain_id = df[df['chain'] == chain_id_to_view]
rows_with_chain_id

,store_and_fwd_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_datetime30m,chain
909897,False,1.0,2020-01-15 10:31:29,2020-01-15 10:52:25,1.0,5.1,1.0,211,145,1.0,...,2.5,0.5,4.0,6.12,0.3,32.42,2.5,0 days 00:20:56,10:30:00,893370
909950,False,1.0,2020-01-15 10:53:04,2020-01-15 10:53:16,1.0,0.0,1.0,145,145,3.0,...,0.0,0.5,0.0,0.00,0.3,3.30,0.0,0 days 00:00:12,10:30:00,893370
910006,False,1.0,2020-01-15 10:54:07,2020-01-15 10:54:19,1.0,0.0,1.0,145,145,2.0,...,0.0,0.5,0.0,0.00,0.3,3.30,0.0,0 days 00:00:12,10:30:00,893370
910035,False,1.0,2020-01-15 10:54:38,2020-01-15 10:54:49,1.0,0.0,1.0,145,145,2.0,...,0.0,0.5,0.0,0.00,0.3,3.30,0.0,0 days 00:00:11,10:30:00,893370
910067,False,1.0,2020-01-15 10:55:10,2020-01-15 10:55:16,0.0,0.0,1.0,145,145,2.0,...,0.0,0.5,0.0,0.00,0.3,3.30,0.0,0 days 00:00:06,10:30:00,893370
910103,False,1.0,2020-01-15 10:55:39,2020-01-15 10:55:46,1.0,0.0,1.0,145,145,2.0,...,0.0,0.5,0.0,0.00,0.3,3.30,0.0,0 days 00:00:07,10:30:00,893370
910129,False,1.0,2020-01-15 10:56:06,2020-01-15 10:56:16,0.0,0.0,1.0,145,145,2.0,...,0.0,0.5,0.0,0.00,0.3,3.30,0.0,0 days 00:00:10,10:30:00,893370
910186,False,1.0,2020-01-15 10:57:09,2020-01-15 10:57:16,0.0,0.0,1.0,145,145,2.0,...,0.0,0.5,0.0,0.00,0.3,3.30,0.0,0 days 00:00:07,10:30:00,893370
910227,False,1.0,2020-01-15 10:57:18,2020-01-15 10:57:49,0.0,0.0,1.0,145,145,2.0,...,0.0,0.5,0.0,0.00,0.3,3.30,0.0,0 days 00:00:31,10:30:00,893370
910234,False,1.0,2020-01-15 10:57:51,2020-01-15 10:58:01,1.0,0.0,1.0,145,145,3.0,...,0.0,0.5,0.0,0.00,0.3,3.30,0.0,0 days 00:00:10,10:30:00,893370
910254,False,1.0,2020-01-15 10:58:02,2020-01-15 10:58:19,1.0,0.0,1.0,145,145,2.0,...,0.0,0.5,0.0,0.00,0.3,3.30,0.0,0 days 00:00:17,10:30:00,893370
910355,False,1.0,2020-01-15 10:59:53,2020-01-15 11:00:08,2.0,0.0,1.0,145,145,2.0,...,0.0,0.5,0.0,0.00,0.3,3.30,0.0,0 days 00:00:15,10:30:00,893370