In [7]:
import pandas as pd

In [8]:
data = pd.read_csv("data.csv", parse_dates=['tpep_dropoff_datetime', 'tpep_pickup_datetime'],
                     date_format = '%Y-%m-%d-%H-%M-%S')
data["tpep_dropoff_datetime"] = pd.to_datetime(data["tpep_dropoff_datetime"], format="%Y-%m-%d %H:%M:%S")
data["tpep_pickup_datetime"] = pd.to_datetime(data["tpep_pickup_datetime"], format="%Y-%m-%d %H:%M:%S")

/var/folders/7y/h7b4hxf568n1y6xlpl8vf6340000gn/T/ipykernel_79947/3788253719.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("data.csv", parse_dates=['tpep_dropoff_datetime', 'tpep_pickup_datetime'],

## Dataset Overview

In [86]:
data.shape

(6405008, 18)

In [87]:
data.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [88]:
data.dtypes

VendorID                        float64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                    float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

### Treating store_and_fwd_flag

In [89]:
data["store_and_fwd_flag"].unique()

array(['N', 'Y', nan], dtype=object)

In [90]:
data_one = pd.get_dummies(data["store_and_fwd_flag"])
data_one

             N      Y
0         True  False
1         True  False
2         True  False
3         True  False
4         True  False
...        ...    ...
6405003  False  False
6405004  False  False
6405005  False  False
6405006  False  False
6405007  False  False

[6405008 rows x 2 columns]

In [91]:
df_two = pd.concat((data_one, data), axis=1)
df_two = df_two.drop(["store_and_fwd_flag"], axis=1)
df_two = df_two.drop(["N"], axis=1)
data = df_two.rename(columns={"Y": "store_and_fwd_flag"})
data.head()

,store_and_fwd_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,False,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,False,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,False,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,False,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,False,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

In [92]:
data.dtypes

store_and_fwd_flag                 bool
VendorID                        float64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
payment_type                    float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

## Exercises

1. Extract all trips with trip_distance larger than 50.

In [10]:
trips = data[data['trip_distance']>50]
trips.head()

,store_and_fwd_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
23842,False,2.0,2020-01-01 01:53:07,2020-01-01 03:54:41,1.0,52.30,5.0,262,265,1.0,300.0,0.0,0.0,61.78,6.12,0.3,370.70,2.5
39013,False,2.0,2020-01-01 02:05:07,2020-01-01 03:03:10,1.0,51.23,5.0,264,264,1.0,329.0,0.0,0.5,100.78,6.12,0.3,436.70,0.0
41620,False,1.0,2020-01-01 03:05:54,2020-01-01 04:16:26,1.0,53.80,5.0,132,265,1.0,250.0,0.0,0.0,53.35,16.62,0.3,320.27,0.0
58262,False,2.0,2020-01-01 05:36:12,2020-01-01 06:40:06,1.0,55.23,5.0,132,265,2.0,170.0,0.0,0.5,0.00,18.26,0.3,189.06,0.0
63024,False,2.0,2020-01-01 07:40:30,2020-01-01 08:40:01,1.0,54.19,5.0,132,265,1.0,230.0,0.0,0.0,0.00,12.24,0.3,242.54,0.0

2. Extract all trips where payment_type is missing.

In [11]:
trips_nopayment = data[data['payment_type'].isnull()]
trips_nopayment.head()

,store_and_fwd_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
6339567,False,NaN,2020-01-01 08:51:00,2020-01-01 09:19:00,NaN,13.69,NaN,136,232,NaN,51.05,2.75,0.5,0.0,0.0,0.3,54.60,0.0
6339568,False,NaN,2020-01-01 08:38:43,2020-01-01 08:51:08,NaN,3.42,NaN,121,9,NaN,27.06,2.75,0.0,0.0,0.0,0.3,30.11,0.0
6339569,False,NaN,2020-01-01 08:27:00,2020-01-01 08:32:00,NaN,2.20,NaN,197,216,NaN,24.36,2.75,0.5,0.0,0.0,0.3,27.91,0.0
6339570,False,NaN,2020-01-01 08:46:00,2020-01-01 08:57:00,NaN,0.84,NaN,262,236,NaN,26.08,2.75,0.5,0.0,0.0,0.3,29.63,0.0
6339571,False,NaN,2020-01-01 08:21:00,2020-01-01 08:38:00,NaN,7.24,NaN,45,142,NaN,25.28,2.75,0.5,0.0,0.0,0.3,28.83,0.0

3. For each (PULocationID, DOLocationID) pair, determine the number of trips.

In [12]:
trip_counts = data.groupby(['PULocationID', 'DOLocationID'], as_index=False).size().rename(columns={'size':'trip_count'})
trip_counts.head()

   PULocationID  DOLocationID  trip_count
0             1             1         638
1             1            50           1
2             1            68           1
3             1           138           2
4             1           140           1

4. Save all rows with missing VendorID, passenger_count, store_and_fwd_flag, or payment_type in a new dataframe called bad, and remove those rows from the original dataframe.

In [9]:
bad = data[data[['VendorID', 'passenger_count', 'store_and_fwd_flag', 'payment_type']].isnull().any(axis=1)]
data.drop(index=bad.index, inplace=True)
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

5. Add a duration column storing how long each trip has taken (use tpep_pickup_datetime, tpep_dropoff_datetime).

In [14]:
data['duration']= data['tpep_dropoff_datetime'] - data['tpep_pickup_datetime']
data.head()

,store_and_fwd_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration
0,False,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48
1,False,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25
2,False,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11
3,False,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51
4,False,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18

6. For each pickup location, determine how many trips have started there.

In [15]:
trips_for_locations = data.groupby('PULocationID', as_index=False).size().rename(columns={'size':'trip_count'})
trips_for_locations.head()

   PULocationID  trip_count
0             1         753
1             2           3
2             3          70
3             4        9902
4             5          39

7. Cluster the pickup time of the day into 30-minute intervals (e.g., from 02:00 to 02:30).

In [16]:
data['pickup_datetime30m'] = data['tpep_pickup_datetime'].dt.floor('30T').dt.time
data.head()

/var/folders/7y/h7b4hxf568n1y6xlpl8vf6340000gn/T/ipykernel_79366/1279896461.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  data['pickup_datetime30m'] = data['tpep_pickup_datetime'].dt.floor('30T').dt.time

,store_and_fwd_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_datetime30m
0,False,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48,00:00:00
1,False,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25,00:30:00
2,False,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11,00:30:00
3,False,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51,00:30:00
4,False,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18,00:00:00

8 .For each interval, determine the average number of passengers and the average fare amount.

In [52]:
avg_passengers = data.groupby('pickup_datetime30m')[["passenger_count", "fare_amount"]].mean()
avg_passengers.head()

                    passenger_count  fare_amount
pickup_datetime30m
00:00:00                   1.572848    13.526433
00:30:00                   1.584345    13.214132
01:00:00                   1.578933    12.699554
01:30:00                   1.589182    12.265997
02:00:00                   1.587479    12.089669

9. For each payment type and each interval, determine the average fare amount.

In [55]:
avg_fare = data.groupby(['payment_type','pickup_datetime30m'])["fare_amount"].mean().reset_index().rename(columns={'fare_amount': 'avg_fare_amount'})
avg_fare.head()

   payment_type pickup_datetime30m  avg_fare_amount
0           1.0           00:00:00        13.869142
1           1.0           00:30:00        13.472232
2           1.0           01:00:00        12.824603
3           1.0           01:30:00        12.357974
4           1.0           02:00:00        12.008589

10. For each payment type, determine the interval when the average fare amount is maximum.

In [27]:
max_fare = avg_fare.loc[avg_fare.groupby('payment_type')['avg_fare_amount'].idxmax()]
max_fare

     payment_type pickup_datetime30m  avg_fare_amount
10            1.0           05:00:00        21.256949
58            2.0           05:00:00        14.846814
110           3.0           07:00:00        10.950938
154           4.0           05:00:00         6.634043
192           5.0           17:30:00         0.000000

11. For each payment type, determine the interval when the overall ratio between the tip and the fare amounts is maximum.

In [56]:
avg_fare_tip = data.groupby(['payment_type','pickup_datetime30m'])[["fare_amount","tip_amount"]].mean().reset_index().rename(columns={'fare_amount': 'avg_fare_amount','tip_amount':'avg_tip_amount' })
avg_fare_tip['tip_fare_ratio'] = avg_fare_tip['avg_tip_amount']/avg_fare_tip['avg_fare_amount']
avg_fare_tip = avg_fare_tip.dropna(subset=['tip_fare_ratio'])
max_ratio = avg_fare_tip.loc[avg_fare_tip.groupby('payment_type')['tip_fare_ratio'].idxmax()]
max_ratio

,payment_type,pickup_datetime30m,avg_fare_amount,avg_tip_amount,tip_fare_ratio
37,1.0,18:30:00,12.045613,2.926743,0.242972
58,2.0,05:00:00,14.846814,0.002036,0.000137
138,3.0,21:00:00,7.620337,0.048070,0.006308
170,4.0,13:00:00,0.383860,0.082348,0.214525

12. Find the location with the highest average fare amount.

In [60]:
avg_fare_by_location = data.groupby('PULocationID')['fare_amount'].mean().reset_index().rename(columns={'fare_amount': 'avg_fare_amount'})
max_loc_fare = avg_fare_by_location.loc[avg_fare_by_location['avg_fare_amount'].idxmax()]
max_loc_fare

PULocationID       204.0
avg_fare_amount    107.0
Name: 198, dtype: float64

13. Build a new dataframe (called common) where, for each pickup location, 
we keep all trips to the 5 most common destinations (i.e., each pickup 
location can have different common destinations).

In [62]:
trip_counts = data.groupby(['PULocationID', 'DOLocationID']).size().reset_index(name='trip_count')
trip_counts_sorted = trip_counts.sort_values(['PULocationID', 'trip_count'], ascending=[True, False])
top_5 = trip_counts_sorted.groupby('PULocationID').head(5)
common = data.merge(top_5[['PULocationID', 'DOLocationID']], on=['PULocationID', 'DOLocationID'])
common.head()

,store_and_fwd_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_datetime30m
0,False,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48,00:00:00
1,False,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25,00:30:00
2,False,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11,00:30:00
3,False,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51,00:30:00
4,False,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18,00:00:00

14. On the common dataframe, for each payment type and each interval, determine the average fare amount.

In [66]:
avg_fare_common = common.groupby(['payment_type','pickup_datetime30m'])['fare_amount'].mean().reset_index().rename(columns={'fare_amount': 'avg_fare_amount'})
avg_fare_common.head()

   payment_type pickup_datetime30m  avg_fare_amount
0           1.0           00:00:00         8.588957
1           1.0           00:30:00         8.690681
2           1.0           01:00:00         8.496143
3           1.0           01:30:00         8.026808
4           1.0           02:00:00         7.945909

15. Compute the difference of the average fare amount computed in the previous point with those computed in point 9.

In [67]:
diff_fare = avg_fare_common['avg_fare_amount'] - avg_fare['avg_fare_amount']
diff_fare.head()

0   -5.280185
1   -4.781551
2   -4.328460
3   -4.331167
4   -4.062679
Name: avg_fare_amount, dtype: float64

16. Compute the ratio between the differences computed in the previous point and those computed in point 9.
Note: you have to compute a ratio for each pair (payment type, interval).

In [68]:
merged_fares = avg_fare_common.merge(avg_fare, on=['payment_type', 'pickup_datetime30m'], suffixes=('_common', '_tot'))
merged_fares['diff_fare'] = merged_fares['avg_fare_amount_common'] - merged_fares['avg_fare_amount_tot']
merged_fares['ratio'] = merged_fares['diff_fare'] / merged_fares['avg_fare_amount_tot']

merged_fares[['payment_type', 'pickup_datetime30m', 'avg_fare_amount_common', 'avg_fare_amount_tot', 'diff_fare', 'ratio']]

,payment_type,pickup_datetime30m,avg_fare_amount_common,avg_fare_amount_tot,diff_fare,ratio
0,1.0,00:00:00,8.588957,13.869142,-5.280185,-0.380715
1,1.0,00:30:00,8.690681,13.472232,-4.781551,-0.354919
2,1.0,01:00:00,8.496143,12.824603,-4.328460,-0.337512
3,1.0,01:30:00,8.026808,12.357974,-4.331167,-0.350475
4,1.0,02:00:00,7.945909,12.008589,-4.062679,-0.338314
...,...,...,...,...,...,...
188,4.0,22:00:00,1.300119,1.533326,-0.233207,-0.152092
189,4.0,22:30:00,-0.563944,-0.787090,0.223146,-0.283508
190,4.0,23:00:00,-2.568571,-0.351277,-2.217294,6.312096
191,4.0,23:30:00,-4.409173,-2.748432,-1.660740,0.604250
192,5.0,17:30:00,0.000000,0.000000,0.000000,NaN

17. Build chains of trips. Two trips are consecutive in a chain if:
- (a) they have the same VendorID,
- (b) the pickup location of the second trip is also the dropoff location of the first trip,
- (c) the pickup time of the second trip is after the dropoff time of the first trip, and
- (d) the pickup time of the second trip is at most 2 minutes later than the dropoff time of the first trip.

Hint: Add a column chain to the dataset. A chain can have more than two trips.

In [96]:
data = data.sort_values(by=['VendorID', 'tpep_pickup_datetime']).reset_index(drop=True)
data

,store_and_fwd_flag,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,chain
0,False,1.0,2020-01-01 01:05:03,2020-01-01 01:20:17,1.0,5.3,1.0,263,4,1.0,17.0,3.0,0.5,4.15,0.0,0.3,24.95,2.5,None
1,False,1.0,2020-01-01 01:05:04,2020-01-01 01:12:49,1.0,2.0,1.0,152,244,1.0,8.5,0.5,0.5,1.95,0.0,0.3,11.75,0.0,None
2,False,1.0,2020-01-01 01:05:04,2020-01-01 01:13:29,1.0,1.7,1.0,143,238,1.0,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5,None
3,False,1.0,2020-01-01 01:05:05,2020-01-01 01:40:35,1.0,5.3,1.0,232,186,1.0,24.5,3.0,0.5,5.00,0.0,0.3,33.30,2.5,None
4,False,1.0,2020-01-01 01:05:06,2020-01-01 01:16:59,0.0,1.7,1.0,90,144,2.0,9.0,3.5,0.5,0.00,0.0,0.3,13.30,2.5,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,False,1.0,2020-01-01 01:06:28,2020-01-01 01:07:21,1.0,0.2,1.0,79,79,2.0,3.0,3.0,0.5,0.00,0.0,0.3,6.80,2.5,None
97,False,1.0,2020-01-01 01:06:28,2020-01-01 01:11:51,1.0,0.7,1.0,107,224,1.0,5.5,3.0,0.5,1.86,0.0,0.3,11.16,2.5,None
98,False,1.0,2020-01-01 01:06:29,2020-01-01 01:12:21,2.0,0.9,1.0,261,13,1.0,6.0,3.0,0.5,1.95,0.0,0.3,11.75,2.5,None
99,False,1.0,2020-01-01 01:06:30,2020-01-01 01:34:42,0.0,4.0,1.0,236,107,1.0,19.5,3.0,0.5,3.50,0.0,0.3,26.80,2.5,None
100,False,1.0,2020-01-01 01:06:30,2020-01-01 01:12:26,1.0,0.5,1.0,48,50,1.0,5.5,3.0,0.5,1.30,0.0,0.3,10.60,2.5,None

In [34]:
data = data.sort_values(by=['VendorID', 'tpep_pickup_datetime','tpep_dropoff_datetime']).reset_index(drop=True)
data['chain'] = None
chain_id = 0

for i in range(len(data)):
    if data.loc[i, 'chain'] is None:
        chain_id += 1
        data.loc[i, 'chain'] = chain_id

    current_vendor = data.loc[i, 'VendorID']
    current_dropoff = data.loc[i, 'DOLocationID']
    current_dropoff_time = data.loc[i, 'tpep_dropoff_datetime']

    for j in range(i + 1, len(data)):
        if (data.loc[j, 'VendorID'] == current_vendor and
            data.loc[j, 'PULocationID'] == current_dropoff and
            data.loc[j, 'tpep_pickup_datetime'] > current_dropoff_time and
            (data.loc[j, 'tpep_pickup_datetime'] - current_dropoff_time).total_seconds() <= 120):

            data.loc[j, 'chain'] = chain_id

            current_dropoff = data.loc[j, 'DOLocationID']
            current_dropoff_time = data.loc[j, 'tpep_dropoff_datetime']

data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,chain
0,1.0,2020-01-01 00:01:54,2020-01-01 00:26:47,1.0,2.30,1.0,N,161,249,1.0,16.5,3.0,0.5,4.05,0.00,0.3,24.35,2.5,1
1,1.0,2020-01-01 00:02:25,2020-01-01 00:08:26,1.0,0.90,1.0,N,148,79,1.0,6.0,3.0,0.5,2.00,0.00,0.3,11.80,2.5,2
2,1.0,2020-01-01 00:02:57,2020-01-01 00:35:52,2.0,17.20,2.0,N,132,68,1.0,52.0,2.5,0.5,18.40,6.12,0.3,79.82,2.5,3
3,1.0,2020-01-01 00:03:02,2020-01-01 00:09:22,1.0,1.20,1.0,N,232,79,2.0,6.5,3.0,0.5,0.00,0.00,0.3,10.30,2.5,4
4,1.0,2020-01-01 00:03:28,2020-01-01 00:07:29,1.0,1.20,1.0,N,238,166,2.0,5.5,3.0,0.5,0.00,0.00,0.3,9.30,2.5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2.0,2020-01-01 00:59:08,2020-01-01 01:35:24,1.0,6.00,1.0,N,234,42,2.0,25.5,0.5,0.5,0.00,0.00,0.3,29.30,2.5,749
996,2.0,2020-01-01 00:59:27,2020-01-01 01:18:53,1.0,3.83,1.0,N,262,50,2.0,16.0,0.5,0.5,0.00,0.00,0.3,19.80,2.5,750
997,2.0,2020-01-01 00:59:39,2020-01-01 01:08:21,1.0,1.19,1.0,N,233,234,1.0,7.5,0.5,0.5,2.00,0.00,0.3,13.30,2.5,751
998,2.0,2020-01-01 00:59:45,2020-01-01 01:14:31,2.0,3.19,1.0,N,234,237,1.0,12.5,0.5,0.5,3.26,0.00,0.3,19.56,2.5,752
999,2.0,2020-01-01 00:59:46,2020-01-01 01:09:36,1.0,1.54,1.0,N,239,238,2.0,8.0,0.5,0.5,0.00,0.00,0.3,11.80,2.5,753