In [36]:
import pandas as pd
data = pd.read_csv("data.csv") 
data['tpep_pickup_datetime'] = pd.to_datetime(data['tpep_pickup_datetime'])
data['tpep_dropoff_datetime'] = pd.to_datetime(data['tpep_dropoff_datetime'])

/var/folders/7y/h7b4hxf568n1y6xlpl8vf6340000gn/T/ipykernel_69551/4145792311.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("data.csv")

In [37]:
#1 Extract all trips with trip_distance larger than 50.
trips = data[data['trip_distance']>50]
trips.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
23842,2.0,2020-01-01 01:53:07,2020-01-01 03:54:41,1.0,52.30,5.0,N,262,265,1.0,300.0,0.0,0.0,61.78,6.12,0.3,370.70,2.5
39013,2.0,2020-01-01 02:05:07,2020-01-01 03:03:10,1.0,51.23,5.0,N,264,264,1.0,329.0,0.0,0.5,100.78,6.12,0.3,436.70,0.0
41620,1.0,2020-01-01 03:05:54,2020-01-01 04:16:26,1.0,53.80,5.0,N,132,265,1.0,250.0,0.0,0.0,53.35,16.62,0.3,320.27,0.0
58262,2.0,2020-01-01 05:36:12,2020-01-01 06:40:06,1.0,55.23,5.0,N,132,265,2.0,170.0,0.0,0.5,0.00,18.26,0.3,189.06,0.0
63024,2.0,2020-01-01 07:40:30,2020-01-01 08:40:01,1.0,54.19,5.0,N,132,265,1.0,230.0,0.0,0.0,0.00,12.24,0.3,242.54,0.0

In [38]:
#2 Extract all trips where payment_type is missing.
trips_nopayment = data[pd.isna(data['payment_type'])]
trips_nopayment.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
6339567,NaN,2020-01-01 08:51:00,2020-01-01 09:19:00,NaN,13.69,NaN,NaN,136,232,NaN,51.05,2.75,0.5,0.0,0.0,0.3,54.60,0.0
6339568,NaN,2020-01-01 08:38:43,2020-01-01 08:51:08,NaN,3.42,NaN,NaN,121,9,NaN,27.06,2.75,0.0,0.0,0.0,0.3,30.11,0.0
6339569,NaN,2020-01-01 08:27:00,2020-01-01 08:32:00,NaN,2.20,NaN,NaN,197,216,NaN,24.36,2.75,0.5,0.0,0.0,0.3,27.91,0.0
6339570,NaN,2020-01-01 08:46:00,2020-01-01 08:57:00,NaN,0.84,NaN,NaN,262,236,NaN,26.08,2.75,0.5,0.0,0.0,0.3,29.63,0.0
6339571,NaN,2020-01-01 08:21:00,2020-01-01 08:38:00,NaN,7.24,NaN,NaN,45,142,NaN,25.28,2.75,0.5,0.0,0.0,0.3,28.83,0.0

In [39]:
#3 For each (PULocationID, DOLocationID) pair, determine the number of trips.
trip_counts = data.groupby(['PULocationID', 'DOLocationID']).size().reset_index(name='trip_count')
trip_counts.head()

   PULocationID  DOLocationID  trip_count
0             1             1         638
1             1            50           1
2             1            68           1
3             1           138           2
4             1           140           1

In [40]:
#4 Save all rows with missing VendorID, passenger_count, store_and_fwd_flag, or payment_type in a new dataframe called bad, and remove those rows
#from the original dataframe.

missing = data[data[['VendorID', 'passenger_count', 'store_and_fwd_flag', 'payment_type']].isna().any(axis=1)]
data = data.dropna(subset=['VendorID', 'passenger_count', 'store_and_fwd_flag', 'payment_type'])
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

In [41]:
#5 Add a duration column storing how long each trip has taken (use tpep_pickup_datetime, tpep_dropoff_datetime).
data['duration']= data['tpep_dropoff_datetime'] - data['tpep_pickup_datetime']
data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18

In [42]:
#6 For each pickup location, determine how many trips have started there.
trips_for_locations = data.groupby('PULocationID').size().reset_index(name='trip_count')
trips_for_locations.head()

   PULocationID  trip_count
0             1         753
1             2           3
2             3          70
3             4        9902
4             5          39

In [43]:
#7 Cluster the pickup time of the day into 30-minute intervals (e.g., from 02:00 to 02:30).
data['pickup_datetime30m'] = data['tpep_pickup_datetime'].dt.floor('30T').dt.time
data.head()

/var/folders/7y/h7b4hxf568n1y6xlpl8vf6340000gn/T/ipykernel_69551/2308978436.py:2: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  data['pickup_datetime30m'] = data['tpep_pickup_datetime'].dt.floor('30T').dt.time

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_datetime30m
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48,00:00:00
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25,00:30:00
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11,00:30:00
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51,00:30:00
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18,00:00:00

In [46]:
#8 For each interval, determine the average number of passengers and the average fare amount.
avg_passengers = data.groupby('pickup_datetime30m').agg(
    avg_passenger_count=('passenger_count', 'mean'),
    avg_fare_amount=('fare_amount', 'mean')
).reset_index()
avg_passengers.head()

  pickup_datetime30m  avg_passenger_count  avg_fare_amount
0           00:00:00             1.572848        13.526433
1           00:30:00             1.584345        13.214132
2           01:00:00             1.578933        12.699554
3           01:30:00             1.589182        12.265997
4           02:00:00             1.587479        12.089669

In [54]:
#9 For each payment type and each interval, determine the average fare amount.
avg_fare = data.groupby(['payment_type','pickup_datetime30m']).agg(
    avg_fare_amount=('fare_amount', 'mean')
).reset_index()
avg_fare.head()

   payment_type pickup_datetime30m  avg_fare_amount
0           1.0           00:00:00        13.869142
1           1.0           00:30:00        13.472232
2           1.0           01:00:00        12.824603
3           1.0           01:30:00        12.357974
4           1.0           02:00:00        12.008589

In [55]:
#10 For each payment type, determine the interval when the average fare amount is maximum.
max_fare = avg_fare.loc[avg_fare.groupby('payment_type')['avg_fare_amount'].idxmax()]
max_fare

     payment_type pickup_datetime30m  avg_fare_amount
10            1.0           05:00:00        21.256949
58            2.0           05:00:00        14.846814
110           3.0           07:00:00        10.950938
154           4.0           05:00:00         6.634043
192           5.0           17:30:00         0.000000

In [58]:
# 11 For each payment type, determine the interval when the overall ratio between the tip and the fare amounts is maximum.
data['tip_fare_ratio'] = data['tip_amount'] / data['fare_amount']
data = data.dropna(subset=['tip_fare_ratio'])
avg_tip_fare = data.groupby(['payment_type', 'pickup_datetime30m']).agg(
    avg_tip_fare_ratio=('tip_fare_ratio', 'mean')
).reset_index()
max_tip_fare = avg_tip_fare.loc[avg_tip_fare.groupby('payment_type')['avg_tip_fare_ratio'].idxmax()]
max_tip_fare

     payment_type pickup_datetime30m  avg_tip_fare_ratio
0             1.0           00:00:00                 inf
66            2.0           09:00:00            0.000051
138           3.0           21:00:00            0.023336
164           4.0           10:00:00            0.007890

In [63]:
#12 Find the location with the highest average fare amount.
location_avg_fare = data.groupby('PULocationID').agg(
    avg_tip_fare=('fare_amount', 'mean')
).reset_index()
max_loc_fare = location_avg_fare.loc[location_avg_fare['avg_tip_fare'].idxmax()]
max_loc_fare

PULocationID    204.0
avg_tip_fare    107.0
Name: 198, dtype: float64

In [65]:
# 13 Build a new dataframe (called common) where, for each pickup location, 
# we keep all trips to the 5 most common destinations (i.e., each pickup 
# location can have different common destinations).

trip_counts = data.groupby(['PULocationID', 'DOLocationID']).size().reset_index(name='trip_count')
top_5 = trip_counts.sort_values(['PULocationID', 'trip_count'], ascending=[True, False]) \
                                 .groupby('PULocationID').head(5)
common = data.merge(top_5[['PULocationID', 'DOLocationID']], on=['PULocationID', 'DOLocationID'])
common.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,duration,pickup_datetime30m,tip_fare_ratio
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,...,3.0,0.5,1.47,0.0,0.3,11.27,2.5,0 days 00:04:48,00:00:00,0.245000
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,...,3.0,0.5,1.50,0.0,0.3,12.30,2.5,0 days 00:07:25,00:30:00,0.214286
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,...,3.0,0.5,1.00,0.0,0.3,10.80,2.5,0 days 00:06:11,00:30:00,0.166667
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,...,0.5,0.5,1.36,0.0,0.3,8.16,0.0,0 days 00:04:51,00:30:00,0.247273
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,...,0.5,0.5,0.00,0.0,0.3,4.80,0.0,0 days 00:02:18,00:00:00,0.000000

In [66]:
#14 On the common dataframe, for each payment type and each interval, determine the average fare amount.
avg_fare_common = common.groupby(['payment_type','pickup_datetime30m']).agg(
    avg_fare_amount=('fare_amount', 'mean')
).reset_index()
avg_fare_common.head()

   payment_type pickup_datetime30m  avg_fare_amount
0           1.0           00:00:00         8.591346
1           1.0           00:30:00         8.691826
2           1.0           01:00:00         8.500731
3           1.0           01:30:00         8.027635
4           1.0           02:00:00         7.951613

In [70]:
#15 Compute the difference of the average fare amount computed in the previous point with those computed in point 9.
diff_fare = avg_fare_common['avg_fare_amount'] - avg_fare['avg_fare_amount']
diff_fare.head()

0   -5.277796
1   -4.780405
2   -4.323873
3   -4.330339
4   -4.056976
Name: avg_fare_amount, dtype: float64

In [76]:
# 16 Compute the ratio between the differences computed in the previous point and those computed in point 9.
#  Note: you have to compute a ratio for each pair (payment type, interval).
# Supponiamo di avere i DataFrames avg_fare_common e avg_fare come definiti nei punti 15 e 9

merged_fares = avg_fare_common.merge(avg_fare, on=['payment_type', 'pickup_datetime30m'], suffixes=('_common', '_tot'))
merged_fares['diff_fare'] = merged_fares['avg_fare_amount_common'] - merged_fares['avg_fare_amount_tot']


merged_fares['ratio'] = merged_fares['diff_fare'] / merged_fares['avg_fare_amount_tot']
merged_fares[['payment_type', 'pickup_datetime30m', 'avg_fare_amount_common', 'avg_fare_amount_tot', 'diff_fare', 'ratio']]

,payment_type,pickup_datetime30m,avg_fare_amount_common,avg_fare_amount_tot,diff_fare,ratio
0,1.0,00:00:00,8.591346,13.869142,-5.277796,-0.380542
1,1.0,00:30:00,8.691826,13.472232,-4.780405,-0.354834
2,1.0,01:00:00,8.500731,12.824603,-4.323873,-0.337154
3,1.0,01:30:00,8.027635,12.357974,-4.330339,-0.350408
4,1.0,02:00:00,7.951613,12.008589,-4.056976,-0.337840
...,...,...,...,...,...,...
187,4.0,21:30:00,-0.166554,2.001983,-2.168537,-1.083194
188,4.0,22:00:00,1.300119,1.533326,-0.233207,-0.152092
189,4.0,22:30:00,-0.580290,-0.787090,0.206800,-0.262740
190,4.0,23:00:00,-2.598266,-0.351277,-2.246989,6.396629
191,4.0,23:30:00,-4.442576,-2.748432,-1.694143,0.616403

In [77]:
# Build chains of trips. Two trips are consecutive in a chain
data = data.sort_values(by=['VendorID', 'tpep_dropoff_datetime', 'tpep_pickup_datetime']).reset_index(drop=True)
data['chain'] = None
chain_id = 0

#check contitions
for i in range(1, len(data)):
    if (data.loc[i, 'VendorID'] == data.loc[i - 1, 'VendorID'] and
        data.loc[i, 'PULocationID'] == data.loc[i - 1, 'DOLocationID'] and
        data.loc[i, 'tpep_pickup_datetime'] > data.loc[i - 1, 'tpep_dropoff_datetime'] and
        (data.loc[i, 'tpep_pickup_datetime'] - data.loc[i - 1, 'tpep_dropoff_datetime']).total_seconds() <= 120):
        
        
        data.loc[i, 'chain'] = chain_id
    else:
        chain_id += 1
        data.loc[i, 'chain'] = chain_id

data.loc[0, 'chain'] = 0

KeyboardInterrupt: